/*  your css code here. If applicable */
body{
	background-color:rgb(135, 206, 235)
}
#first-para{
	color:white;
	background-color:black
}

#second-para{
	use :nth-child(2)
}

/* 
#third-para{
	use :last-child
} */

#third-para{
	color:red;
}

ul{
	color:gray;
}
    li:first-child,
    li:last-child {
      font-size: 22px;
    }
li:nth-last-child(3) {
    background-color: pink;
}
